{{ define "main" }}
<div
  class="archive {{ with .Site.Params.doNotLoadAnimations }}
      .
    {{ else }}
      animated fadeInDown
    {{ end }}"
>
  {{ range .Pages }}
  <ul class="archive__list">
    <li class="archive__list-item">
      <title class="archive__list-title">{{ .Title }}</title>
      <div class="archive__list-date">
          {{ printf "%s - %s" (dateFormat "Jan 2006" .Params.startDate) (dateFormat "Jan 2006" .Params.endDate) }}
      </div>
    </li>
  </ul>
  {{ end }}
</div>
{{ end }}
