{{ define "main" }}
<div class="archive {{ with .Site.Params.doNotLoadAnimations }} {{ else }} animated fadeInDown {{ end }}">
  <div>  
    <h1>{{ .Title }}</h1>
    <div class="post__footer" style="font-size: smaller;">  
      <p> {{.Description}} </p>
    </div>
  </div>
  {{ if eq .Section "resources" }}
  <div> {{.Content}}</div>
  {{ end }}
  {{ range (sort .Pages "Params.startDate").Reverse}}
  <ul class="archive__list">
    <li class="archive__list-item">
      <strong><a class="archive__list-title" href="{{ .Params.url }}" target="_blank">{{ .Title }}</a></strong>
      <div class="archive__list-date">
          {{ printf "%s - %s" ( .Params.startDate) ( .Params.endDate) }}
      </div>
    </li>
    {{ if eq .Section "education" }}
    <div> {{.Params.degree}}, {{.Params.specialization}}</div>
    {{ else if eq .Section "experience" }}
    <div> {{.Params.location}}</div>
    <div> {{.Params.jobTitle}} · {{.Params.jobType}}</div>
    {{ end }}
    <div> {{.Content}}</div>
  </ul>
  {{ end }}
</div>
{{ end }}
